@using Project.MVC.Dto;
@model List<RequestNewsDto>

@{
    ViewData["Title"] = "Index";
}


<h4> News Table</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Detail</th>
            <th scope="col">ImageUrls</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
            @foreach (RequestNewsDto item in Model)
            {
              <tr>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td>@item.Detail</td>
                <td>@item.ImageUrls</td>
                <td>@item.Category</td>
              </tr>
            }


    
    </tbody>
</table>

